.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 4px 4px 0px;
      display: block;
      float: left;
    }
  }
  a {
    border: 2px solid #ddd;
    padding: 0.5em 1.2em;
    display: block;
    color: $primaryColor;
    box-sizing: border-box;
    border-radius: 5px;
    @include gradient(#f4f4f4, #fff, vertical);
    &:hover,
    &:focus {
      color: $primaryColor;
      background: $linkColor;
      border: 2px solid $linkColor;
      box-shadow: none;
      text-decoration: none;
    }
    &.active {
      color: $primaryColor;
      background: $linkColor;
      border: 2px solid $linkColor;
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
