.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 4px 4px 0px;
      display: block;
      float: left;
    }
  }
  a {
    border: 1px solid #666;
    padding: 0.5em 1.2em;
    display: block;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #666;
    &:hover,
    &:focus {
      color: #fff;
      background: $primaryColor;
      border: 1px solid $primaryColor;
      box-shadow: none;
      text-decoration: none;
    }
    &.active {
      color: #fff;
      background: $secondaryColor;
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
